project_id               = "slit-497603"
region                   = "asia-northeast3"
subnet_ipv4_cidr         = "10.73.96.0/24"
deployer_service_account = "phaseb-deployer@slit-497603.iam.gserviceaccount.com"
